[Unit]
Description=Auto update DevBox global packages
After=local-fs.target
After=network-online.target
ConditionPathExists=/usr/local/bin/devbox

[Service]
# Override the user if different UID/User
User=1000
Type=oneshot
ExecStart=/usr/bin/bash -c "/usr/local/bin/devbox global update"
