[Unit]
Description=Timer for devbox update
Wants=network-online.target

[Timer]
OnBootSec=20min
OnUnitInactiveSec=7h
Persistent=true

[Install]
WantedBy=timers.target
