name: Reusable Build and Push
on:
  workflow_call:
    inputs:
      image_flavors:
        description: "JSON string of flavors to build, '[main, nvidia]'"
        default: "['main', 'nvidia']"
        type: string
      brand_name:
        description: "The brand name: sarkinite"
        required: true
        type: string
      stream_name:
        description: "The Fedora Version: stable or testing"
        required: true
        type: string
      kernel_pin:
        description: "The full kernel version to pin"
        type: string
    secrets:
      SIGNING_SECRET:
        description: "The private key used to sign the image"
        required: false
env:
  IMAGE_REGISTRY: "ghcr.io/${{ github.repository_owner }}"
  IMAGE_NAME: "${{ github.event.repository.name }}"
  DEFAULT_TAG: "stable"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}-${{ inputs.brand_name}}-${{ inputs.stream_name }}
  cancel-in-progress: true

jobs:
  build_push:
    name: Build and push image
    runs-on: ubuntu-24.04
    timeout-minutes: 60
    permissions:
      contents: read
      packages: write
      id-token: write
    continue-on-error: false
    strategy:
      fail-fast: false
      matrix:
        image_flavor: ${{ fromJson(inputs.image_flavors) }}
        base_name: ["${{ inputs.brand_name }}"]
        stream_name: ["${{ inputs.stream_name }}"]

    steps:
      - name: Checkout Repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4

      - name: Maximize build space
        uses: ublue-os/remove-unwanted-software@695eb75bc387dbcd9685a8e72d23439d8686cba6 # v10

      - name: Setup Just
        uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # v3

      - name: Check Just Syntax
        shell: bash
        run: |
          just check

      - name: Image Name
        shell: bash
        env:
          MATRIX_BASE_NAME: ${{ matrix.base_name }}
          MATRIX_STREAM_NAME: ${{ matrix.stream_name }}
          MATRIX_IMAGE_FLAVOR: ${{ matrix.image_flavor }}
        run: |
          IMAGE_NAME="$(just image_name ${MATRIX_BASE_NAME} ${MATRIX_STREAM_NAME} ${MATRIX_IMAGE_FLAVOR})"
          echo "IMAGE_NAME=${IMAGE_NAME}" >> $GITHUB_ENV

      - name: Default Tag
        shell: bash
        env:
          MATRIX_STREAM_NAME: ${{ matrix.stream_name }}
        run: |
          DEFAULT_TAG="$(just generate-default-tag \
                       "${MATRIX_STREAM_NAME}" \
                       "1")"
          echo "Default Tag: ${DEFAULT_TAG}"
          echo "DEFAULT_TAG=${DEFAULT_TAG}" >> $GITHUB_ENV

      - name: Build Image
        id: build-image
        shell: bash
        env:
          MATRIX_BASE_NAME: ${{ matrix.base_name }}
          MATRIX_STREAM_NAME: ${{ matrix.stream_name }}
          MATRIX_IMAGE_FLAVOR: ${{ matrix.image_flavor }}
          INPUTS_KERNEL_PIN: ${{ inputs.kernel_pin }}
        run: |
          sudo -E $(command -v just) repo_organization="${{ github.repository_owner }}" \
                    build-ghcr "${MATRIX_BASE_NAME}" \
                               "${MATRIX_STREAM_NAME}" \
                               "${MATRIX_IMAGE_FLAVOR}" \
                               "${INPUTS_KERNEL_PIN}"
      - name: Rechunk Image
        id: rechunk-image
        shell: bash
        env:
          MATRIX_BASE_NAME: ${{ matrix.base_name }}
          MATRIX_STREAM_NAME: ${{ matrix.stream_name }}
          MATRIX_IMAGE_FLAVOR: ${{ matrix.image_flavor }}
        run: |
          sudo -E $(command -v just) rechunk "${MATRIX_BASE_NAME}" \
                            "${MATRIX_STREAM_NAME}" \
                            "${MATRIX_IMAGE_FLAVOR}" \
                            "1"

      - name: Load Image into Podman
        id: load-rechunk
        shell: bash
        env:
          MATRIX_BASE_NAME: ${{ matrix.base_name }}
          DEFAULT_TAG: ${{ env.DEFAULT_TAG }}
          MATRIX_IMAGE_FLAVOR: ${{ matrix.image_flavor }}
        run: |
          sudo -E $(command -v just) load-rechunk "${MATRIX_BASE_NAME}" \
                            "${DEFAULT_TAG}" \
                            "${MATRIX_IMAGE_FLAVOR}"
      - name: Secureboot Check
        id: secureboot
        shell: bash
        env:
          MATRIX_BASE_NAME: ${{ matrix.base_name }}
          DEFAULT_TAG: ${{ env.DEFAULT_TAG }}
          MATRIX_IMAGE_FLAVOR: ${{ matrix.image_flavor }}
        run: |
          sudo -E $(command -v just) secureboot "${MATRIX_BASE_NAME}" \
                          "${DEFAULT_TAG}" \
                          "${MATRIX_IMAGE_FLAVOR}"

      - name: Generate tags
        id: generate-tags
        shell: bash
        env:
          MATRIX_BASE_NAME: ${{ matrix.base_name }}
          MATRIX_STREAM_NAME: ${{ matrix.stream_name }}
          MATRIX_IMAGE_FLAVOR: ${{ matrix.image_flavor }}
          INPUTS_KERNEL_PIN: ${{ inputs.kernel_pin }}
          IMAGE_NAME: ${{ env.IMAGE_NAME }}
          DEFAULT_TAG: ${{ env.DEFAULT_TAG }}
          GITHUB_EVENT_NAME: ${{ github.event_name }}
          GITHUB_EVENT_NUMBER: ${{ github.event.number }}
        run: |
          alias_tags="$(just generate-build-tags \
                     "${MATRIX_BASE_NAME}" \
                     "${MATRIX_STREAM_NAME}" \
                     "${MATRIX_IMAGE_FLAVOR}" \
                     "${INPUTS_KERNEL_PIN}" \
                     "1" \
                     "$(podman inspect ${IMAGE_NAME}:${DEFAULT_TAG} | jq -r '.[].Config.Labels["org.opencontainers.image.version"]')" \
                     "${GITHUB_EVENT_NAME}" \
                     "${GITHUB_EVENT_NUMBER}")"

          echo "Tags for this Action..."
          echo "$alias_tags"
          echo "alias_tags=${alias_tags}" >> $GITHUB_OUTPUT

      # Tag Images
      - name: Tag Images
        shell: bash
        env:
          IMAGE_NAME: ${{ env.IMAGE_NAME }}
          DEFAULT_TAG: ${{ env.DEFAULT_TAG }}
          ALIAS_TAGS: ${{ steps.generate-tags.outputs.alias_tags }}
        run: |
          set -eoux pipefail
          sudo -E $(command -v just) tag-images "${IMAGE_NAME}" \
                          "${DEFAULT_TAG}" \
                          "${ALIAS_TAGS}"

      # Workaround bug where capital letters in your GitHub username make it impossible to push to GHCR.
      # https://github.com/macbre/push-to-ghcr/issues/12
      - name: Lowercase Registry
        shell: bash
        env:
          IMAGE_REGISTRY: ${{ env.IMAGE_REGISTRY }}
        run: |
          lowercase_registry=$(echo "${IMAGE_REGISTRY}" | tr '[:upper:]' '[:lower:]')
          echo "IMAGE_REGISTRY=${lowercase_registry}" >> $GITHUB_ENV

      - name: Login to GitHub Container Registry
        if: github.event_name != 'pull_request'
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | podman login ghcr.io -u ${{ github.actor }} --password-stdin
          echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Push to GHCR
        id: push
        if: github.event_name != 'pull_request'
        uses: Wandalen/wretry.action@e68c23e6309f2871ca8ae4763e7629b9c258e1ea # v3.8.0
        env:
          IMAGE_NAME: ${{ env.IMAGE_NAME }}
          IMAGE_REGISTRY: ${{ env.IMAGE_REGISTRY }}
          DEFAULT_TAG: ${{ env.DEFAULT_TAG }}
          ALIAS_TAGS: ${{ steps.generate-tags.outputs.alias_tags }}
        with:
          attempt_limit: 3
          attempt_delay: 15000
          command: |
            set -euox pipefail

            for tag in ${ALIAS_TAGS}; do
              sudo -E podman push ${IMAGE_NAME}:${tag} ${IMAGE_REGISTRY}/${IMAGE_NAME}:${tag}
            done

            digest=$(skopeo inspect docker://${IMAGE_REGISTRY}/${IMAGE_NAME}:${DEFAULT_TAG} --format '{{.Digest}}')

            echo "digest=${digest}" >> $GITHUB_OUTPUT

      - name: Install Cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
        if: github.event_name != 'pull_request'

      - name: Sign container image
        if: github.event_name != 'pull_request'
        run: |
          sudo -E cosign sign -y --key env://COSIGN_PRIVATE_KEY ${IMAGE_REGISTRY}/${IMAGE_NAME}@${TAGS}
        env:
          TAGS: ${{ steps.push.outputs.outputs && fromJSON(steps.push.outputs.outputs).digest }}
          COSIGN_EXPERIMENTAL: false
          COSIGN_PRIVATE_KEY: ${{ secrets.SIGNING_SECRET }}
          IMAGE_NAME: ${{ env.IMAGE_NAME }}
          IMAGE_REGISTRY: ${{ env.IMAGE_REGISTRY }}

  check:
    name: Check all builds are successful
    if: always()
    runs-on: ubuntu-latest
    needs: [build_push]
    steps:
      - name: Check Jobs
        env:
          JOBS: ${{ toJson(needs) }}
        run: |
          echo "Job status:"
          echo $JOBS | jq -r 'to_entries[] | " - \(.key): \(.value.result)"'

          for i in $(echo $JOBS | jq -r 'to_entries[] | .value.result'); do
            if [ "$i" != "success" ] && [ "$i" != "skipped" ]; then
              echo ""
              echo "Status check not okay!"
              exit 1
            fi
          done
